# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries

import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import dataset

pokemon = pd.read_csv("pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [42]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,no_dual_type,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,no_dual_type,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,no_dual_type,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
pokemon['Type 1'].isna().sum()

0

In [22]:
pokemon['Type 1'].value_counts()
# check if there are empty Values, which are not Null

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [5]:
pokemon['Type 2'].isna().sum()
# Pokemons who are not dual type
# replace NULL values with "no_dual_type"

386

In [6]:
pokemon['Type 2'] = pokemon['Type 2'].fillna("no_dual_type")

In [7]:
pokemon['Type 2'].isna().sum()

0

In [59]:
pokemon['Type 2'].value_counts()
# check if there are empty Values, which are not Null

no_dual_type    386
Flying           97
Ground           35
Poison           34
Psychic          33
Fighting         26
Grass            25
Fairy            23
Steel            22
Dark             20
Dragon           18
Ice              14
Rock             14
Water            14
Ghost            14
Fire             12
Electric          6
Normal            4
Bug               3
Name: Type 2, dtype: int64

In [24]:
# Extract all the values in Type 1 and Type 2
# https://stackoverflow.com/questions/31789160/convert-select-columns-in-pandas-dataframe-to-numpy-array
# .iloc[] method selects a specific column of the  
    # [:,] select all rows
    # [, 2] index for the column starting from 0
# .values attribute extracts the values from that column as a NumPy array

#values_type1 = pokemon.iloc[:, 2].values
#values_type1

values_type1 = pokemon['Type 1']

In [25]:
values_type1
# type(values_type2)

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object

In [27]:
# values_type2 = pokemon.iloc[:, 3].values

values_type2 = pokemon['Type 2']

In [30]:
values_type2
# type(values_type2)

0            Poison
1            Poison
2            Poison
3            Poison
4      no_dual_type
           ...
795           Fairy
796           Fairy
797           Ghost
798            Dark
799           Water
Name: Type 2, Length: 800, dtype: object

In [54]:
# Create an array containing the distinct values across both fields.
# get the unique values from multiple columns in a DataFrame
    # https://paperbun.org/attributeerror-dataframe-object-has-no-attribute-unique/ 
    
array_values_unique = np.unique(pokemon[['Type 1', 'Type 2']])
array_values_unique

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water', 'no_dual_type'], dtype=object)

In [ ]:
distinct_values_Type1 = pokemon[values_type1].unique()
distinct_values_Type2 = pokemon[values_type2].unique()

In [47]:
distinct_values_Type1

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water'], dtype=object)

In [48]:
distinct_values_Type2

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water', 'no_dual_type'], dtype=object)

In [40]:
type(array_values_unique)

numpy.ndarray

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [61]:
unique_values_Name = pokemon['Name'].unique()
unique_values_Name

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur',
       'Charmander', 'Charmeleon', 'Charizard',
       'CharizardMega Charizard X', 'CharizardMega Charizard Y',
       'Squirtle', 'Wartortle', 'Blastoise', 'BlastoiseMega Blastoise',
       'Caterpie', 'Metapod', 'Butterfree', 'Weedle', 'Kakuna',
       'Beedrill', 'BeedrillMega Beedrill', 'Pidgey', 'Pidgeotto',
       'Pidgeot', 'PidgeotMega Pidgeot', 'Rattata', 'Raticate', 'Spearow',
       'Fearow', 'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew',
       'Sandslash', 'Nidoran♀', 'Nidorina', 'Nidoqueen', 'Nidoran♂',
       'Nidorino', 'Nidoking', 'Clefairy', 'Clefable', 'Vulpix',
       'Ninetales', 'Jigglypuff', 'Wigglytuff', 'Zubat', 'Golbat',
       'Oddish', 'Gloom', 'Vileplume', 'Paras', 'Parasect', 'Venonat',
       'Venomoth', 'Diglett', 'Dugtrio', 'Meowth', 'Persian', 'Psyduck',
       'Golduck', 'Mankey', 'Primeape', 'Growlithe', 'Arcanine',
       'Poliwag', 'Poliwhirl', 'Poliwrath', 'Abra', 'Kadabra', 'Alakazam',
       'AlakazamMega Alakazam', 'Machop', 'Machoke', 'Machamp',
       'Bellsprout', 'Weepinbell', 'Victreebel', 'Tentacool',
       'Tentacruel', 'Geodude', 'Graveler', 'Golem', 'Ponyta', 'Rapidash',
       'Slowpoke', 'Slowbro', 'SlowbroMega Slowbro', 'Magnemite',
       'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel', 'Dewgong',
       'Grimer', 'Muk', 'Shellder', 'Cloyster', 'Gastly', 'Haunter',
       'Gengar', 'GengarMega Gengar', 'Onix', 'Drowzee', 'Hypno',
       'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'KangaskhanMega Kangaskhan', 'Horsea',
       'Seadra', 'Goldeen', 'Seaking', 'Staryu', 'Starmie', 'Mr. Mime',
       'Scyther', 'Jynx', 'Electabuzz', 'Magmar', 'Pinsir',
       'PinsirMega Pinsir', 'Tauros', 'Magikarp', 'Gyarados',
       'GyaradosMega Gyarados', 'Lapras', 'Ditto', 'Eevee', 'Vaporeon',
       'Jolteon', 'Flareon', 'Porygon', 'Omanyte', 'Omastar', 'Kabuto',
       'Kabutops', 'Aerodactyl', 'AerodactylMega Aerodactyl', 'Snorlax',
       'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'MewtwoMega Mewtwo X',
       'MewtwoMega Mewtwo Y', 'Mew', 'Chikorita', 'Bayleef', 'Meganium',
       'Cyndaquil', 'Quilava', 'Typhlosion', 'Totodile', 'Croconaw',
       'Feraligatr', 'Sentret', 'Furret', 'Hoothoot', 'Noctowl', 'Ledyba',
       'Ledian', 'Spinarak', 'Ariados', 'Crobat', 'Chinchou', 'Lanturn',
       'Pichu', 'Cleffa', 'Igglybuff', 'Togepi', 'Togetic', 'Natu',
       'Xatu', 'Mareep', 'Flaaffy', 'Ampharos', 'AmpharosMega Ampharos',
       'Bellossom', 'Marill', 'Azumarill', 'Sudowoodo', 'Politoed',
       'Hoppip', 'Skiploom', 'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora',
       'Yanma', 'Wooper', 'Quagsire', 'Espeon', 'Umbreon', 'Murkrow',
       'Slowking', 'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig',
       'Pineco', 'Forretress', 'Dunsparce', 'Gligar', 'Steelix',
       'SteelixMega Steelix', 'Snubbull', 'Granbull', 'Qwilfish',
       'Scizor', 'ScizorMega Scizor', 'Shuckle', 'Heracross',
       'HeracrossMega Heracross', 'Sneasel', 'Teddiursa', 'Ursaring',
       'Slugma', 'Magcargo', 'Swinub', 'Piloswine', 'Corsola', 'Remoraid',
       'Octillery', 'Delibird', 'Mantine', 'Skarmory', 'Houndour',
       'Houndoom', 'HoundoomMega Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'TyranitarMega Tyranitar', 'Lugia', 'Ho-oh', 'Celebi', 'Treecko',
       'Grovyle', 'Sceptile', 'SceptileMega Sceptile', 'Torchic',
       'Combusken', 'Blaziken', 'BlazikenMega Blaziken', 'Mudkip',
       'Marshtomp', 'Swampert', 'SwampertMega Swampert', 'Poochyena',
       'Mightyena', 'Zigzagoon', 'Linoone', 'Wurmple', 'Silcoon',
       'Beautifly', 'Cascoon', 'Dustox', 'Lotad', 'Lombre', 'Ludicolo',
       'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow', 'Swellow', 'Wingull',
       'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'GardevoirMega Gardevoir', 'Surskit', 'Masquerain', 'Shroomish',
       'Breloom', 'Slakoth', 'Vigoroth', 'Slaking', 'Nincada', 'Ninjask',
       'Shedinja', 'Whismur', 'Loudred', 'Exploud', 'Makuhita',
       'Hariyama', 'Azurill', 'Nosepass', 'Skitty', 'Delcatty', 'Sableye',
       'SableyeMega Sableye', 'Mawile', 'MawileMega Mawile', 'Aron',
       'Lairon', 'Aggron', 'AggronMega Aggron', 'Meditite', 'Medicham',
       'MedichamMega Medicham', 'Electrike', 'Manectric',
       'ManectricMega Manectric', 'Plusle', 'Minun', 'Volbeat',
       'Illumise', 'Roselia', 'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo',
       'SharpedoMega Sharpedo', 'Wailmer', 'Wailord', 'Numel', 'Camerupt',
       'CameruptMega Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'AltariaMega Altaria', 'Zangoose', 'Seviper',
       'Lunatone', 'Solrock', 'Barboach', 'Whiscash', 'Corphish',
       'Crawdaunt', 'Baltoy', 'Claydol', 'Lileep', 'Cradily', 'Anorith',
       'Armaldo', 'Feebas', 'Milotic', 'Castform', 'Kecleon', 'Shuppet',
       'Banette', 'BanetteMega Banette', 'Duskull', 'Dusclops', 'Tropius',
       'Chimecho', 'Absol', 'AbsolMega Absol', 'Wynaut', 'Snorunt',
       'Glalie', 'GlalieMega Glalie', 'Spheal', 'Sealeo', 'Walrein',
       'Clamperl', 'Huntail', 'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon',
       'Shelgon', 'Salamence', 'SalamenceMega Salamence', 'Beldum',
       'Metang', 'Metagross', 'MetagrossMega Metagross', 'Regirock',
       'Regice', 'Registeel', 'Latias', 'LatiasMega Latias', 'Latios',
       'LatiosMega Latios', 'Kyogre', 'KyogrePrimal Kyogre', 'Groudon',
       'GroudonPrimal Groudon', 'Rayquaza', 'RayquazaMega Rayquaza',
       'Jirachi', 'DeoxysNormal Forme', 'DeoxysAttack Forme',
       'DeoxysDefense Forme', 'DeoxysSpeed Forme', 'Turtwig', 'Grotle',
       'Torterra', 'Chimchar', 'Monferno', 'Infernape', 'Piplup',
       'Prinplup', 'Empoleon', 'Starly', 'Staravia', 'Staraptor',
       'Bidoof', 'Bibarel', 'Kricketot', 'Kricketune', 'Shinx', 'Luxio',
       'Luxray', 'Budew', 'Roserade', 'Cranidos', 'Rampardos', 'Shieldon',
       'Bastiodon', 'Burmy', 'WormadamPlant Cloak', 'WormadamSandy Cloak',
       'WormadamTrash Cloak', 'Mothim', 'Combee', 'Vespiquen',
       'Pachirisu', 'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos',
       'Gastrodon', 'Ambipom', 'Drifloon', 'Drifblim', 'Buneary',
       'Lopunny', 'LopunnyMega Lopunny', 'Mismagius', 'Honchkrow',
       'Glameow', 'Purugly', 'Chingling', 'Stunky', 'Skuntank', 'Bronzor',
       'Bronzong', 'Bonsly', 'Mime Jr.', 'Happiny', 'Chatot', 'Spiritomb',
       'Gible', 'Gabite', 'Garchomp', 'GarchompMega Garchomp', 'Munchlax',
       'Riolu', 'Lucario', 'LucarioMega Lucario', 'Hippopotas',
       'Hippowdon', 'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak',
       'Carnivine', 'Finneon', 'Lumineon', 'Mantyke', 'Snover',
       'Abomasnow', 'AbomasnowMega Abomasnow', 'Weavile', 'Magnezone',
       'Lickilicky', 'Rhyperior', 'Tangrowth', 'Electivire', 'Magmortar',
       'Togekiss', 'Yanmega', 'Leafeon', 'Glaceon', 'Gliscor',
       'Mamoswine', 'Porygon-Z', 'Gallade', 'GalladeMega Gallade',
       'Probopass', 'Dusknoir', 'Froslass', 'Rotom', 'RotomHeat Rotom',
       'RotomWash Rotom', 'RotomFrost Rotom', 'RotomFan Rotom',
       'RotomMow Rotom', 'Uxie', 'Mesprit', 'Azelf', 'Dialga', 'Palkia',
       'Heatran', 'Regigigas', 'GiratinaAltered Forme',
       'GiratinaOrigin Forme', 'Cresselia', 'Phione', 'Manaphy',
       'Darkrai', 'ShayminLand Forme', 'ShayminSky Forme', 'Arceus',
       'Victini', 'Snivy', 'Servine', 'Serperior', 'Tepig', 'Pignite',
       'Emboar', 'Oshawott', 'Dewott', 'Samurott', 'Patrat', 'Watchog',
       'Lillipup', 'Herdier', 'Stoutland', 'Purrloin', 'Liepard',
       'Pansage', 'Simisage', 'Pansear', 'Simisear', 'Panpour',
       'Simipour', 'Munna', 'Musharna', 'Pidove', 'Tranquill', 'Unfezant',
       'Blitzle', 'Zebstrika', 'Roggenrola', 'Boldore', 'Gigalith',
       'Woobat', 'Swoobat', 'Drilbur', 'Excadrill', 'Audino',
       'AudinoMega Audino', 'Timburr', 'Gurdurr', 'Conkeldurr', 'Tympole',
       'Palpitoad', 'Seismitoad', 'Throh', 'Sawk', 'Sewaddle', 'Swadloon',
       'Leavanny', 'Venipede', 'Whirlipede', 'Scolipede', 'Cottonee',
       'Whimsicott', 'Petilil', 'Lilligant', 'Basculin', 'Sandile',
       'Krokorok', 'Krookodile', 'Darumaka', 'DarmanitanStandard Mode',
       'DarmanitanZen Mode', 'Maractus', 'Dwebble', 'Crustle', 'Scraggy',
       'Scrafty', 'Sigilyph', 'Yamask', 'Cofagrigus', 'Tirtouga',
       'Carracosta', 'Archen', 'Archeops', 'Trubbish', 'Garbodor',
       'Zorua', 'Zoroark', 'Minccino', 'Cinccino', 'Gothita', 'Gothorita',
       'Gothitelle', 'Solosis', 'Duosion', 'Reuniclus', 'Ducklett',
       'Swanna', 'Vanillite', 'Vanillish', 'Vanilluxe', 'Deerling',
       'Sawsbuck', 'Emolga', 'Karrablast', 'Escavalier', 'Foongus',
       'Amoonguss', 'Frillish', 'Jellicent', 'Alomomola', 'Joltik',
       'Galvantula', 'Ferroseed', 'Ferrothorn', 'Klink', 'Klang',
       'Klinklang', 'Tynamo', 'Eelektrik', 'Eelektross', 'Elgyem',
       'Beheeyem', 'Litwick', 'Lampent', 'Chandelure', 'Axew', 'Fraxure',
       'Haxorus', 'Cubchoo', 'Beartic', 'Cryogonal', 'Shelmet',
       'Accelgor', 'Stunfisk', 'Mienfoo', 'Mienshao', 'Druddigon',
       'Golett', 'Golurk', 'Pawniard', 'Bisharp', 'Bouffalant', 'Rufflet',
       'Braviary', 'Vullaby', 'Mandibuzz', 'Heatmor', 'Durant', 'Deino',
       'Zweilous', 'Hydreigon', 'Larvesta', 'Volcarona', 'Cobalion',
       'Terrakion', 'Virizion', 'TornadusIncarnate Forme',
       'TornadusTherian Forme', 'ThundurusIncarnate Forme',
       'ThundurusTherian Forme', 'Reshiram', 'Zekrom',
       'LandorusIncarnate Forme', 'LandorusTherian Forme', 'Kyurem',
       'KyuremBlack Kyurem', 'KyuremWhite Kyurem', 'KeldeoOrdinary Forme',
       'KeldeoResolute Forme', 'MeloettaAria Forme',
       'MeloettaPirouette Forme', 'Genesect', 'Chespin', 'Quilladin',
       'Chesnaught', 'Fennekin', 'Braixen', 'Delphox', 'Froakie',
       'Frogadier', 'Greninja', 'Bunnelby', 'Diggersby', 'Fletchling',
       'Fletchinder', 'Talonflame', 'Scatterbug', 'Spewpa', 'Vivillon',
       'Litleo', 'Pyroar', 'Flabébé', 'Floette', 'Florges', 'Skiddo',
       'Gogoat', 'Pancham', 'Pangoro', 'Furfrou', 'Espurr',
       'MeowsticMale', 'MeowsticFemale', 'Honedge', 'Doublade',
       'AegislashBlade Forme', 'AegislashShield Forme', 'Spritzee',
       'Aromatisse', 'Swirlix', 'Slurpuff', 'Inkay', 'Malamar', 'Binacle',
       'Barbaracle', 'Skrelp', 'Dragalge', 'Clauncher', 'Clawitzer',
       'Helioptile', 'Heliolisk', 'Tyrunt', 'Tyrantrum', 'Amaura',
       'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne', 'Carbink', 'Goomy',
       'Sliggoo', 'Goodra', 'Klefki', 'Phantump', 'Trevenant',
       'PumpkabooAverage Size', 'PumpkabooSmall Size',
       'PumpkabooLarge Size', 'PumpkabooSuper Size',
       'GourgeistAverage Size', 'GourgeistSmall Size',
       'GourgeistLarge Size', 'GourgeistSuper Size', 'Bergmite',
       'Avalugg', 'Noibat', 'Noivern', 'Xerneas', 'Yveltal',
       'Zygarde50% Forme', 'Diancie', 'DiancieMega Diancie',
       'HoopaHoopa Confined', 'HoopaHoopa Unbound', 'Volcanion'],
      dtype=object)

In [85]:
# your code here
# https://www.w3schools.com/python/ref_string_split.asp
    # separator	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
    # maxsplit	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"
    # [-1] accesses last element in the list
    # Here it accesses the last substring after Mega

def clean_up_function(Name):
    if 'Mega' in Name:
        return 'Mega ' + Name.split('Mega', -1)[-1]
    else:
        return Name

In [86]:
# Call the Clean_up_function on the column 'Name'
    # How to apply a function on one column
    # https://towardsdatascience.com/apply-function-to-columns-in-pandas-60b01c41c485#:~:text=Applying%20a%20function%20to%20a,is%20the%20way%20to%20go.&text=You%20could%20also%20use%20the,methods%20to%20a%20single%20column.

#pokemon['Name'] = list(map(clean_up_function, pokemon['Name'])) 

#It looks like you have to use apply for string
pokemon['Name'] = pokemon['Name'].apply(clean_up_function)
pokemon.head()

# superstore['Profit-Flag'] = list(map(profitable,superstore['Profit']))
# superstore.head()

# superstore['Priority?'] = superstore.apply(priority, axis=1)
# superstore.head(30)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,no_dual_type,309,39,52,43,60,50,65,1,False

In [76]:
unique_values_Name = pokemon['Name'].unique()
unique_values_Name

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Mega Venusaur', 'Charmander',
       'Charmeleon', 'Charizard', 'Mega Charizard X', 'Mega Charizard Y',
       'Squirtle', 'Wartortle', 'Blastoise', 'Mega Blastoise', 'Caterpie',
       'Metapod', 'Butterfree', 'Weedle', 'Kakuna', 'Beedrill',
       'Mega Beedrill', 'Pidgey', 'Pidgeotto', 'Pidgeot', 'Mega Pidgeot',
       'Rattata', 'Raticate', 'Spearow', 'Fearow', 'Ekans', 'Arbok',
       'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash', 'Nidoran♀',
       'Nidorina', 'Nidoqueen', 'Nidoran♂', 'Nidorino', 'Nidoking',
       'Clefairy', 'Clefable', 'Vulpix', 'Ninetales', 'Jigglypuff',
       'Wigglytuff', 'Zubat', 'Golbat', 'Oddish', 'Gloom', 'Vileplume',
       'Paras', 'Parasect', 'Venonat', 'Venomoth', 'Diglett', 'Dugtrio',
       'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey', 'Primeape',
       'Growlithe', 'Arcanine', 'Poliwag', 'Poliwhirl', 'Poliwrath',
       'Abra', 'Kadabra', 'Alakazam', 'Mega Alakazam', 'Machop',
       'Machoke', 'Machamp', 'Bellsprout', 'Weepinbell', 'Victreebel',
       'Tentacool', 'Tentacruel', 'Geodude', 'Graveler', 'Golem',
       'Ponyta', 'Rapidash', 'Slowpoke', 'Slowbro', 'Mega Slowbro',
       'Magnemite', 'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel',
       'Dewgong', 'Grimer', 'Muk', 'Shellder', 'Cloyster', 'Gastly',
       'Haunter', 'Gengar', 'Mega Gengar', 'Onix', 'Drowzee', 'Hypno',
       'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'Mega Kangaskhan', 'Horsea', 'Seadra',
       'Goldeen', 'Seaking', 'Staryu', 'Starmie', 'Mr. Mime', 'Scyther',
       'Jynx', 'Electabuzz', 'Magmar', 'Pinsir', 'Mega Pinsir', 'Tauros',
       'Magikarp', 'Gyarados', 'Mega Gyarados', 'Lapras', 'Ditto',
       'Eevee', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon', 'Omanyte',
       'Omastar', 'Kabuto', 'Kabutops', 'Aerodactyl', 'Mega Aerodactyl',
       'Snorlax', 'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'Mega Mewtwo X', 'Mega Mewtwo Y', 'Mew',
       'Chikorita', 'Bayleef', 'Mega Meganium', 'Cyndaquil', 'Quilava',
       'Typhlosion', 'Totodile', 'Croconaw', 'Feraligatr', 'Sentret',
       'Furret', 'Hoothoot', 'Noctowl', 'Ledyba', 'Ledian', 'Spinarak',
       'Ariados', 'Crobat', 'Chinchou', 'Lanturn', 'Pichu', 'Cleffa',
       'Igglybuff', 'Togepi', 'Togetic', 'Natu', 'Xatu', 'Mareep',
       'Flaaffy', 'Ampharos', 'Mega Ampharos', 'Bellossom', 'Marill',
       'Azumarill', 'Sudowoodo', 'Politoed', 'Hoppip', 'Skiploom',
       'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora', 'Yanma', 'Wooper',
       'Quagsire', 'Espeon', 'Umbreon', 'Murkrow', 'Slowking',
       'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig', 'Pineco',
       'Forretress', 'Dunsparce', 'Gligar', 'Steelix', 'Mega Steelix',
       'Snubbull', 'Granbull', 'Qwilfish', 'Scizor', 'Mega Scizor',
       'Shuckle', 'Heracross', 'Mega Heracross', 'Sneasel', 'Teddiursa',
       'Ursaring', 'Slugma', 'Magcargo', 'Swinub', 'Piloswine', 'Corsola',
       'Remoraid', 'Octillery', 'Delibird', 'Mantine', 'Skarmory',
       'Houndour', 'Houndoom', 'Mega Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'Mega Tyranitar', 'Lugia', 'Ho-oh', 'Celebi', 'Treecko', 'Grovyle',
       'Sceptile', 'Mega Sceptile', 'Torchic', 'Combusken', 'Blaziken',
       'Mega Blaziken', 'Mudkip', 'Marshtomp', 'Swampert',
       'Mega Swampert', 'Poochyena', 'Mightyena', 'Zigzagoon', 'Linoone',
       'Wurmple', 'Silcoon', 'Beautifly', 'Cascoon', 'Dustox', 'Lotad',
       'Lombre', 'Ludicolo', 'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow',
       'Swellow', 'Wingull', 'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'Mega Gardevoir', 'Surskit', 'Masquerain', 'Shroomish', 'Breloom',
       'Slakoth', 'Vigoroth', 'Slaking', 'Nincada', 'Ninjask', 'Shedinja',
       'Whismur', 'Loudred', 'Exploud', 'Makuhita', 'Hariyama', 'Azurill',
       'Nosepass', 'Skitty', 'Delcatty', 'Sableye', 'Mega Sableye',
       'Mawile', 'Mega Mawile', 'Aron', 'Lairon', 'Aggron', 'Mega Aggron',
       'Meditite', 'Medicham', 'Mega Medicham', 'Electrike', 'Manectric',
       'Mega Manectric', 'Plusle', 'Minun', 'Volbeat', 'Illumise',
       'Roselia', 'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo',
       'Mega Sharpedo', 'Wailmer', 'Wailord', 'Numel', 'Camerupt',
       'Mega Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'Mega Altaria', 'Zangoose', 'Seviper', 'Lunatone',
       'Solrock', 'Barboach', 'Whiscash', 'Corphish', 'Crawdaunt',
       'Baltoy', 'Claydol', 'Lileep', 'Cradily', 'Anorith', 'Armaldo',
       'Feebas', 'Milotic', 'Castform', 'Kecleon', 'Shuppet', 'Banette',
       'Mega Banette', 'Duskull', 'Dusclops', 'Tropius', 'Chimecho',
       'Absol', 'Mega Absol', 'Wynaut', 'Snorunt', 'Glalie',
       'Mega Glalie', 'Spheal', 'Sealeo', 'Walrein', 'Clamperl',
       'Huntail', 'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon', 'Shelgon',
       'Salamence', 'Mega Salamence', 'Beldum', 'Metang', 'Metagross',
       'Mega Metagross', 'Regirock', 'Regice', 'Registeel', 'Latias',
       'Mega Latias', 'Latios', 'Mega Latios', 'Kyogre',
       'KyogrePrimal Kyogre', 'Groudon', 'GroudonPrimal Groudon',
       'Rayquaza', 'Mega Rayquaza', 'Jirachi', 'DeoxysNormal Forme',
       'DeoxysAttack Forme', 'DeoxysDefense Forme', 'DeoxysSpeed Forme',
       'Turtwig', 'Grotle', 'Torterra', 'Chimchar', 'Monferno',
       'Infernape', 'Piplup', 'Prinplup', 'Empoleon', 'Starly',
       'Staravia', 'Staraptor', 'Bidoof', 'Bibarel', 'Kricketot',
       'Kricketune', 'Shinx', 'Luxio', 'Luxray', 'Budew', 'Roserade',
       'Cranidos', 'Rampardos', 'Shieldon', 'Bastiodon', 'Burmy',
       'WormadamPlant Cloak', 'WormadamSandy Cloak',
       'WormadamTrash Cloak', 'Mothim', 'Combee', 'Vespiquen',
       'Pachirisu', 'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos',
       'Gastrodon', 'Ambipom', 'Drifloon', 'Drifblim', 'Buneary',
       'Lopunny', 'Mega Lopunny', 'Mismagius', 'Honchkrow', 'Glameow',
       'Purugly', 'Chingling', 'Stunky', 'Skuntank', 'Bronzor',
       'Bronzong', 'Bonsly', 'Mime Jr.', 'Happiny', 'Chatot', 'Spiritomb',
       'Gible', 'Gabite', 'Garchomp', 'Mega Garchomp', 'Munchlax',
       'Riolu', 'Lucario', 'Mega Lucario', 'Hippopotas', 'Hippowdon',
       'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak', 'Carnivine',
       'Finneon', 'Lumineon', 'Mantyke', 'Snover', 'Abomasnow',
       'Mega Abomasnow', 'Weavile', 'Magnezone', 'Lickilicky',
       'Rhyperior', 'Tangrowth', 'Electivire', 'Magmortar', 'Togekiss',
       'Yanmega', 'Leafeon', 'Glaceon', 'Gliscor', 'Mamoswine',
       'Porygon-Z', 'Gallade', 'Mega Gallade', 'Probopass', 'Dusknoir',
       'Froslass', 'Rotom', 'RotomHeat Rotom', 'RotomWash Rotom',
       'RotomFrost Rotom', 'RotomFan Rotom', 'RotomMow Rotom', 'Uxie',
       'Mesprit', 'Azelf', 'Dialga', 'Palkia', 'Heatran', 'Regigigas',
       'GiratinaAltered Forme', 'GiratinaOrigin Forme', 'Cresselia',
       'Phione', 'Manaphy', 'Darkrai', 'ShayminLand Forme',
       'ShayminSky Forme', 'Arceus', 'Victini', 'Snivy', 'Servine',
       'Serperior', 'Tepig', 'Pignite', 'Emboar', 'Oshawott', 'Dewott',
       'Samurott', 'Patrat', 'Watchog', 'Lillipup', 'Herdier',
       'Stoutland', 'Purrloin', 'Liepard', 'Pansage', 'Simisage',
       'Pansear', 'Simisear', 'Panpour', 'Simipour', 'Munna', 'Musharna',
       'Pidove', 'Tranquill', 'Unfezant', 'Blitzle', 'Zebstrika',
       'Roggenrola', 'Boldore', 'Gigalith', 'Woobat', 'Swoobat',
       'Drilbur', 'Excadrill', 'Audino', 'Mega Audino', 'Timburr',
       'Gurdurr', 'Conkeldurr', 'Tympole', 'Palpitoad', 'Seismitoad',
       'Throh', 'Sawk', 'Sewaddle', 'Swadloon', 'Leavanny', 'Venipede',
       'Whirlipede', 'Scolipede', 'Cottonee', 'Whimsicott', 'Petilil',
       'Lilligant', 'Basculin', 'Sandile', 'Krokorok', 'Krookodile',
       'Darumaka', 'DarmanitanStandard Mode', 'DarmanitanZen Mode',
       'Maractus', 'Dwebble', 'Crustle', 'Scraggy', 'Scrafty', 'Sigilyph',
       'Yamask', 'Cofagrigus', 'Tirtouga', 'Carracosta', 'Archen',
       'Archeops', 'Trubbish', 'Garbodor', 'Zorua', 'Zoroark', 'Minccino',
       'Cinccino', 'Gothita', 'Gothorita', 'Gothitelle', 'Solosis',
       'Duosion', 'Reuniclus', 'Ducklett', 'Swanna', 'Vanillite',
       'Vanillish', 'Vanilluxe', 'Deerling', 'Sawsbuck', 'Emolga',
       'Karrablast', 'Escavalier', 'Foongus', 'Amoonguss', 'Frillish',
       'Jellicent', 'Alomomola', 'Joltik', 'Galvantula', 'Ferroseed',
       'Ferrothorn', 'Klink', 'Klang', 'Klinklang', 'Tynamo', 'Eelektrik',
       'Eelektross', 'Elgyem', 'Beheeyem', 'Litwick', 'Lampent',
       'Chandelure', 'Axew', 'Fraxure', 'Haxorus', 'Cubchoo', 'Beartic',
       'Cryogonal', 'Shelmet', 'Accelgor', 'Stunfisk', 'Mienfoo',
       'Mienshao', 'Druddigon', 'Golett', 'Golurk', 'Pawniard', 'Bisharp',
       'Bouffalant', 'Rufflet', 'Braviary', 'Vullaby', 'Mandibuzz',
       'Heatmor', 'Durant', 'Deino', 'Zweilous', 'Hydreigon', 'Larvesta',
       'Volcarona', 'Cobalion', 'Terrakion', 'Virizion',
       'TornadusIncarnate Forme', 'TornadusTherian Forme',
       'ThundurusIncarnate Forme', 'ThundurusTherian Forme', 'Reshiram',
       'Zekrom', 'LandorusIncarnate Forme', 'LandorusTherian Forme',
       'Kyurem', 'KyuremBlack Kyurem', 'KyuremWhite Kyurem',
       'KeldeoOrdinary Forme', 'KeldeoResolute Forme',
       'MeloettaAria Forme', 'MeloettaPirouette Forme', 'Genesect',
       'Chespin', 'Quilladin', 'Chesnaught', 'Fennekin', 'Braixen',
       'Delphox', 'Froakie', 'Frogadier', 'Greninja', 'Bunnelby',
       'Diggersby', 'Fletchling', 'Fletchinder', 'Talonflame',
       'Scatterbug', 'Spewpa', 'Vivillon', 'Litleo', 'Pyroar', 'Flabébé',
       'Floette', 'Florges', 'Skiddo', 'Gogoat', 'Pancham', 'Pangoro',
       'Furfrou', 'Espurr', 'MeowsticMale', 'MeowsticFemale', 'Honedge',
       'Doublade', 'AegislashBlade Forme', 'AegislashShield Forme',
       'Spritzee', 'Aromatisse', 'Swirlix', 'Slurpuff', 'Inkay',
       'Malamar', 'Binacle', 'Barbaracle', 'Skrelp', 'Dragalge',
       'Clauncher', 'Clawitzer', 'Helioptile', 'Heliolisk', 'Tyrunt',
       'Tyrantrum', 'Amaura', 'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne',
       'Carbink', 'Goomy', 'Sliggoo', 'Goodra', 'Klefki', 'Phantump',
       'Trevenant', 'PumpkabooAverage Size', 'PumpkabooSmall Size',
       'PumpkabooLarge Size', 'PumpkabooSuper Size',
       'GourgeistAverage Size', 'GourgeistSmall Size',
       'GourgeistLarge Size', 'GourgeistSuper Size', 'Bergmite',
       'Avalugg', 'Noibat', 'Noivern', 'Xerneas', 'Yveltal',
       'Zygarde50% Forme', 'Diancie', 'Mega Diancie',
       'HoopaHoopa Confined', 'HoopaHoopa Unbound', 'Volcanion'],
      dtype=object)

#### Create a new column called `A/D Ratio` whose value equals to `Attack` divided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [92]:
# and store the result in a new column
# superstore['Unitary price'] = superstore['Sales']/superstore['Quantity']

pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,no_dual_type,309,39,52,43,60,50,65,1,False,1.209302

In [91]:
type(pokemon['A/D Ratio'])

pandas.core.series.Series

#### Identify the pokemon with the highest `A/D Ratio`.

In [95]:
# superstore['Sales'].max() 

pokemon_with_max_ratio = pokemon['A/D Ratio'].max()
pokemon_with_max_ratio

9.0

loc function:

columns

df.loc[:, 'Spalte1'] (select column by name)
df.loc[:, ['Spalte1', 'Spalte2']] (select multiple columns by name)

rows
df.loc[1]  (row index)
loc[1:2] (start and end index for row)
df.loc[df['Spalte1'] > 5] (chose rows by condition)

rows and columns

df.loc[1:2, 'Spalte1'] # THIS  IS USED

In [110]:
ratio_value = pokemon_with_max_ratio

if ratio_value in pokemon['A/D Ratio'].values:
    name = pokemon.loc[pokemon['A/D Ratio'] == ratio_value, 'Name'].values
    print("Pokémon Name:", name)
else:
    print("Not found in A/D Ratio")
    
# pokemon['A/D Ratio'].values extracts all the values from the "A/D Ratio" column of the pokemon DataFrame and converts them into a NumPy array
# if ratio_value in pokemon['A/D Ratio'].values:
    #checks if ratio_value exists in the array of "A/D Ratio" values.
# if True it exists in the array A/D Ratio
    # pokemon.loc[pokemon['A/D Ratio'] == ratio_value, 'Name'] 
        # is a DataFrame operation that filters the rows where the "A/D Ratio" is equal to ratio_value and selects the "Name" column for those rows.
    #.values converts the filtered DataFrame into a NumPy array.
        # .values function applied to DataFrame
            # returns a two-dimensional NumPy array
                # where each row corresponds to a DataFrame row, and each column corresponds to a DataFrame column.

Pokémon Name: ['DeoxysAttack Forme']

#### Identify the pokemon with the lowest A/D Ratio.

In [111]:
pokemon_with_min_ratio = pokemon['A/D Ratio'].min()
pokemon_with_min_ratio

0.043478260869565216

In [113]:
ratio_value2 = pokemon_with_min_ratio

if ratio_value2 in pokemon['A/D Ratio'].values:
    name = pokemon.loc[pokemon['A/D Ratio'] == ratio_value2, 'Name'].values
    print("Pokémon Name:", name)
else:
    print("Not found in A/D Ratio")

Pokémon Name: ['Shuckle']

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [115]:
def combo_Type(row):
    if row['Type 2'] != "no_dual_type":
        return f"{row['Type 1']}-{row['Type 2']}"
    else:
        return row['Type 1']

pokemon['Combo Type'] = pokemon.apply(combo_Type, axis=1)

In [ ]:
# The apply method is used to apply the create_combo_type function to each row of dataframe pokemon
# the result is stored in the "Combo Type" column.

In [116]:
pokemon['Combo Type']

0       Grass-Poison
1       Grass-Poison
2       Grass-Poison
3       Grass-Poison
4               Fire
           ...
795       Rock-Fairy
796       Rock-Fairy
797    Psychic-Ghost
798     Psychic-Dark
799       Fire-Water
Name: Combo Type, Length: 800, dtype: object

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [132]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html
sorted_pokemon = pokemon.sort_values(by='A/D Ratio', ascending=False)
sorted_pokemon = sorted_pokemon.head(5)
print(sorted_pokemon)

       #                Name   Type 1        Type 2  Total  HP  Attack  \
429  386  DeoxysAttack Forme  Psychic  no_dual_type    600  50     180
347  318            Carvanha    Water          Dark    305  45      90
19    15     Mega   Beedrill      Bug        Poison    495  65     150
453  408            Cranidos     Rock  no_dual_type    350  67     125
348  319            Sharpedo    Water          Dark    460  70     120

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio  \
429       20      180       20    150           3       True      9.000
347       20       65       20     65           3      False      4.500
19        40       15       80    145           1      False      3.750
453       40       30       30     58           4      False      3.125
348       40       95       40     95           3      False      3.000

     Combo Type
429     Psychic
347  Water-Dark
19   Bug-Poison
453        Rock
348  Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [133]:
list_unique_Combo_types = sorted_pokemon.head(5)['Combo Type'].unique()
list_unique_Combo_types

array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock'], dtype=object)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [140]:
# your code here
#Aggregate function

# I got stuck on this one, used AI

selected_combo_types = sorted_pokemon.head(5)['Combo Type'].unique()

filtered_pokemon = pokemon[pokemon['Combo Type'].isin(selected_combo_types)]

def custom_agg(group):
    numeric_means = group.select_dtypes(include=[float, int]).mean()
    name_mean_length = group['Name'].str.len().mean()
    return numeric_means.append(pd.Series({'Name': name_mean_length}))

combo_type_means = filtered_pokemon.groupby('Combo Type').apply(custom_agg)

combo_type_means = combo_type_means.reset_index()

combo_type_means

C:\Users\49174\AppData\Local\Temp\ipykernel_20168\2917532183.py:13: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return numeric_means.append(pd.Series({'Name': name_mean_length}))
C:\Users\49174\AppData\Local\Temp\ipykernel_20168\2917532183.py:13: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return numeric_means.append(pd.Series({'Name': name_mean_length}))
C:\Users\49174\AppData\Local\Temp\ipykernel_20168\2917532183.py:13: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return numeric_means.append(pd.Series({'Name': name_mean_length}))
C:\Users\49174\AppData\Local\Temp\ipykernel_20168\2917532183.py:13: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return numeric_means.append(pd.Series({'Name': name_mean_length}))

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio,Name
0,Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,1.315989,8.166667
1,Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,1.164196,8.710526
2,Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,1.260091,8.111111
3,Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,2.291949,10.500000